[submodule "submodules/metamath-exe"]
	path = submodules/metamath-exe
	url = https://github.com/metamath/metamath-exe.git
[submodule "submodules/metamath-book"]
	path = submodules/metamath-book
	url = https://github.com/metamath/metamath-book.git
[submodule "submodules/set.mm"]
	branch = develop
	path = submodules/set.mm
	shallow = true
	url = https://github.com/metamath/set.mm.git
